<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StayHydrated.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <StayHydrated.Properties.Settings>
            <setting name="Duration" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="Frequency" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DisplayOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupOn" serializeAs="String">
                <value>True</value>
            </setting>
        </StayHydrated.Properties.Settings>
    </userSettings>
</configuration>